

<div class="card col-sm-3">
    <img class="card-img-top" src="<%= "#{content.media}" %>" alt="phathoth画像">
    <div class="card-body">
      <h4 class="card-title title"><%= link_to content.title, "#" %></h4>
      <p class="card-text">概要だよ！恐らく一覧には必要ないけどとりあえず入れてる</p>
      <span class="view"><%= content.view %>view</span>
      <a href="#" class="btn btn-primary">詳細を見る</a>
    </div>
  </div>