@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: rgba(230, 230, 230, 0.445);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

/* header */

header.navbar {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: 0.3px;
  padding-top: 9px;
  font-family: cursive;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* form */

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

/* flash */

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

/* card */

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/* upload */

span.media {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.img-responsive {
  width: 100%;
}

/* content */
p.content_info {
  border-bottom: 1px solid lightgray;
  padding: 10px 0px 10px 0px;
}
